$black-color: #000000;
$login-registration-section-border-color: #ababab;
$login-registration-error-line-text-color: #5a0000;
$login-registration-error-line-background-color: #ffbdbd;
$login-registration-link-background-color: #447bba;
$login-registration-link-color: #ffffff;
$primary-label-text-color: #555555;
$primary-input-border-color: #ababab;
$primary-input-invalid-border-color: #ff0000;
$primary-input-background-color: #f5f5f5;
$primary-input-focus-border-color: #000000;
$primary-button-text-color: #ffffff;
$primary-button-background-color: #000000;
$primary-error-line-text-color: #ff0000;
$catalog-card-border-color: #9d9898;
$catalog-card-old-price: #989898;
$catalog-card-shadow: #0000003d;
$catalog-pagination-button-background-color: #447bba;
$catalog-pagination-button-text-color: #ffffff;
$catalog-pagination-button-disabled-background-color: #8a8787;
