.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  background-color: #2a2a2a;
  color: $white-color;
  padding: 0.5rem;
  font-size: calc(0.625rem + ((1vw - 3.75px) * 0.9061));
  min-height: 0vw;
  @media (min-width: 1920px) {
    font-size: 24px;
  }
  &__link {
    &-image {
      width: 100px;
      height: auto;
      filter: invert(0.9);
    }
  }
}
