.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  &__link {
    &-image {
      width: 100px;
      height: auto;
    }
  }
}
