.catalog {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  flex-direction: column;
  &__content {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
    &-aside {
      width: 20%;
    }
    &-products {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      width: 80%;
      .product-card {
        width: 200px;
        height: 400px;
        border: 1px solid black;
      }
    }
  }
}
