.catalog {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  flex-direction: column;
  &__content {
    display: flex;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    &-aside {
      width: 20%;
    }
    &-products {
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 5px;
      width: 80%;
      .product-card {
        width: 200px;
        height: 400px;
        border: 1px solid black;
        word-wrap: break-word;
      }
      .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }
      .paginator {
        gap: 5px;
        flex-wrap: wrap;
        display: flex;
      }
    }
  }
}
