.product {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;

  &__title {
    margin: 0 0 20px 70px;
    font-size: 22px;
  }

  &__subtitle {
    margin: 0 0 10px 0;
    font-size: 22px;
  }

  &__top {
    display: flex;
    margin: 0 0 20px 0;
    justify-content: space-between;
  }

  &__slider {
    flex: 0 1 50%;
  }

  &__buy {
    flex: 0 1 35%;
  }

  &__bot {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    flex: 0 1 40%;
  }

  &__atributes {
    flex: 0 1 40%;
  }
}

.slider {
  display: flex;
  gap: 20px;

  &__item {
    width: 50px;
    height: 50px;
  }

  &__main-item {
    width: 450px;
    height: 450px;
  }

  &__image {
    max-width: 100%;
  }
}

.buy {
  display: flex;
  height: 50px;
  padding: 10px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.241);

  &__price {
    color: black;

    &_disable {
      font-size: 16px;
      color: gray;
      text-decoration: line-through;
    }
  }

  &__discount-price {
    color: orange;
  }

  &__button {
    width: 100px;
    height: 40px;
    margin: 0 0 0 60px;
    font-size: 16px;
    color: white;
    background-color: rgb(55, 188, 106);
    border-radius: 5px;
  }
}

.atributes {
  &__title {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    font-size: 18px;
    border-bottom: thick double #32a1ce;
  }

  &__key {
    margin: 0 10px 0 0;
  }

  &__value {
  }
}

.description {
  &__title {
  }

  &__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 120%;
  }
}
