.primary-button {
  width: 100%;
  margin: 10px 0;
  background-color: $black-color;
  border-radius: 8px;
  color: $white-color;
  padding: 10px;
  transition: ease-in-out 0.33s;
  cursor: pointer;
  &:hover {
    background-color: lighten($black-color, 15%);
    transition: ease-in-out 0.33s;
  }
}
