@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap";

@import "base/normalize";
@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/inputs";
@import "components/bread-crumbs";

@import "pages/home";
@import "pages/registration";
@import "pages/login";
@import "pages/not-found";
@import "pages/catalog";
@import "pages/user-profile";
@import "pages/category";
@import "pages/product";
@import "pages/shoping-cart";
@import "pages/about-us";
@import "themes/theme";
@import "themes/admin";

@font-face {
  font-family: "DancingScript";
  src:
    url("../fonts/dancingscript-variablefont_wght-webfont.woff2") format("woff2"),
    url("../fonts/dancingscript-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Abril";
  src:
    url("../fonts/abrilfatface-regular-webfont.woff2") format("woff2"),
    url("../fonts/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IndieFlower";
  src:
    url("../fonts/indieflower-regular-webfont.woff2") format("woff2"),
    url("../fonts/indieflower-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid $black-color;
  font-family: "IndieFlower", sans-serif;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: center;
  position: relative;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 29px),
      repeating-linear-gradient(rgba(68, 76, 247, 0.3333333333), #444cf7);
    opacity: 0.05;
    pointer-events: none;
    z-index: -1;
  }
}

.footer {
  border-top: 1px solid $black-color;
  font-family: "IndieFlower", sans-serif;
}

.hide {
  display: none;
}

.scroll-lock {
  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.popup-with-text {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril", sans-serif;
  letter-spacing: 0.25rem;
}

label,
input {
  cursor: pointer;
}
