@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap";

@import "base/normalize";
@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/inputs";
@import "components/bread-crumbs";

@import "pages/home";
@import "pages/_registration";
@import "pages/login";
@import "pages/not-found";
@import "pages/catalog";

@import "themes/theme";
@import "themes/admin";

html,
body {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid $black-color;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: center;
}

.footer {
  border-top: 1px solid $black-color;
}

.hide {
  display: none;
}
