@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap";

@import "base/normalize";
@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/inputs";
@import "components/bread-crumbs";

@import "pages/home";
@import "pages/_registration";
@import "pages/login";
@import "pages/not-found";
@import "pages/catalog";
@import "pages/user-profile";
@import "pages/category";

@import "themes/theme";
@import "themes/admin";

html,
body {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid $black-color;
}

.main {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  justify-content: center;
}

.footer {
  border-top: 1px solid $black-color;
}

.hide {
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}
